.array-container{
    position: absolute;
    top: 100px; left: 0; right: 0; bottom: 0;
  
    
    
}
.array-bar{ 
    transition: height 1s ease;
    width: 12px;
    background-color: purple;
    display: inline-block;
    margin: 0 1px;
} 

.highlighted {
    background-color: yellow;
    transition: background-color 0.15s step-end;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}